.content .mat-card {
    /* width: 100px; */
    display: inline-block;
    /* margin-left: 2%; */
    margin: 2%;
}

.content {
    display: inline-block;
}

.mat-slide-toggle {
    margin-left: 20%;
}

.mat-form-field {
    margin: 2%;
}

.submit {
    margin-top: 5%;
    /* margin-left: 55%; */
}

.toggle {
    display: inline-block;
}

.options {
    cursor: pointer;
    padding: 2%;
}

.options:hover {
    color: blue;
}

.addIcon {
    display: none;
}

.mainRow {
    padding: 3%;
}

@media (max-width: 707px) {
.desktopView {
    display: none;
} 

.addIcon{
    display: block;
    z-index: 20;
    height: 90px;
    width: 90px;
    position: sticky;       
    bottom: 30px;
    left: calc(80vw);
    cursor: pointer;
}

}