 .mat-card {
    /* width: 100px; */
    display: inline-block;
    /* margin-left: 2%; */
    margin: 2%;
}

.content {
    display: inline-block;
}

.mat-slide-toggle {
    margin-left: 20%;
}

.mainRow {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.contentRow {
    width: 100vw;
    min-height: 100vh;
    padding-bottom: 5%;
    overflow: auto;
}

.mat-form-field {
    margin: 2%;
}

.controlInvoice, .controlAppointment, .controlUser, .controlFranchise, .controlClient {
    display: none;
}

.controlInvoice.show, .controlAppointment.show, .controlUser.show, .controlFranchise.show, .controlClient.show {
    display: block;
}

.submit {
    margin-top: 5%;
    /* margin-left: 55%; */
}

.toggle {
    display: inline-block;
}

.options {
    cursor: pointer;
    padding: 2%;
    color: red;
}

.options:hover {
    color: teal;
}

.options.selected {
    cursor: pointer;
    padding: 2%;
    color: teal;
}

.addIcon {
    display: none;
}

.mainRow {
    padding: 3%;
}

@media (max-width: 768px) {
.desktopView {
    display: none;
} 

.addIcon{
    display: block;
    z-index: 20;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background-color: red;
    position: sticky;       
    bottom: 10px;
    left: calc(70vw);
    cursor: pointer;
}

.mainRow {
    overflow: auto;
}

}