.mat-slide-toggle {
    margin-left: 20%;
}

.mainRow {
    position: absolute;
    height: calc(100vh - 64px);
    top: 64px;
    right: 0px !important;
    left: 0px !important;
    bottom: 0px !important;
    overflow-x: hidden !important;
    overflow-y: hidden;
}

.contentRow {
    height: calc(100vh - 64px);
    width: 100%;
    overflow-x: hidden !important;
}

.mat-form-field {
    margin: 2%;
}

.controlInvoice, .controlSettings, .calendar, .controlAppointment, .controlUser, .controlFranchise, .controlClient {
    display: none;
}

.controlInvoice.show, .calendar.show, .controlSettings.show, .controlAppointment.show, .controlUser.show, .controlFranchise.show, .controlClient.show {
    display: block;
    overflow-x: hidden !important;
    overflow-y: auto;
}

.submit {
    margin-top: 5%;
}

.toggle {
    display: inline-block;
}

.options {
    cursor: pointer;
    padding: 2%;
    color: red;
    font-size: 20px;
}

.options:hover {
    color: teal;
}

.options.selected {
    cursor: pointer;
    padding: 2%;
    color: teal;
}

.screenTitle {
    margin-left: 17vw;
}

.homeIcon {
    display: none;
}

.filterIcon {
    display: none;
}

.invoiceDisplay {
    margin-left: 5%;
    margin-top: .3%;
    font-size: 14px;
}

.desktopView {
    margin-top: 1%;
    padding-left: 2%;
    overflow-y: hidden;
}

.userAvatar {
    height: 40px;
    width: 40px;
    border-radius: 90px;
   margin-left: 21%;
}

.userInitials {
    border-radius: 90px;
    background-color: blue;
    color: white;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 2%;
    display: inline-block;
}

.userName {
    display: block;
    margin-top: 13%;
     color: white;
     font-size: 12px;
}

.totalUnread {
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 8px;
    margin-bottom: 2%;
    display: inline-block;
    width: auto;
    position: absolute;
    right: 17px;
    top: 10px;
    z-index: 200;
    line-height: 20px;
    padding-right: 4px;
    padding-left: 4px;
}

button, button:focus { outline: none; }

@media (max-width: 992px) {
    .desktopView {
        display: none;
    } 

    .homeIcon{
        display: block;
        z-index: 20;
        height: 60px;
        width: 60px;
        border-radius: 30px;
        background-color: red;
        position: absolute;       
        bottom: 10px;
        left: calc(90vw);
        cursor: pointer;
    }
    
}

@media (max-width: 767px) {
.desktopView {
    display: none;
} 

.homeIcon{
    display: block;
    z-index: 20;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background-color: red;
    position: absolute;       
    bottom: 10px;
    left: calc(85vw);
    cursor: pointer;
}

.mainRow {
    overflow: hidden !important;
    overflow-x: hidden !important;
}

.screenTitle {
    margin-left: unset;
    font-size: 18px;
}

.logout {
    position: absolute;
    right: 24px;
}

.filterIcon.show {
    display: block;
    z-index: 20;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background-color: blue;
    position: absolute;       
    bottom: 80px;
    left: calc(85vw);
    cursor: pointer;
}

.invoiceDisplay {
    margin-left: 5%;
    font-size: 9px;
    margin-top: 1%;
}

.mainRow{
    top: 56px
}

}

@media (max-width: 500px) {
    .homeIcon{
        display: block;
        z-index: 20;
        height: 60px;
        width: 60px;
        border-radius: 30px;
        background-color: red;
        position: absolute;       
        bottom: 10px;
        left: calc(82vw);
        cursor: pointer;
    }
    
    .filterIcon.show {
        display: block;
        z-index: 20;
        height: 60px;
        width: 60px;
        border-radius: 30px;
        background-color: blue;
        position: absolute;       
        bottom: 80px;
        left: calc(82vw);
        cursor: pointer;
    }
}