
<div class='row mainRow'>
  <div class='col-md-2 desktopView'>
  <div class='row'> <h3> Master Control Panel</h3></div>
  <div class='options' (click)="openUsers();" mat-button>Users</div>
  <div class='options' (click)="openFranchises();">Franchises</div>
  <div class='options' (click)="openClients();" >Clients</div>
  <div class='options' (click)="openAppointments();">Appointments</div>
  <div class='options' (click)="openInvoices();" >Invoices</div>
  <div class='options' (click)="openPopup();" >Open popup</div>
</div>
<div class='col-md-10 col-sm-12'>
    <app-control-user *ngIf='userMode === true;'></app-control-user>
    <app-control-franchise *ngIf='franchiseMode === true;'></app-control-franchise>    
    <app-control-client *ngIf='clientMode === true;'></app-control-client>
    <app-control-appointment *ngIf="appointmentMode === true"></app-control-appointment>
    <app-control-invoice *ngIf='invoiceMode === true'></app-control-invoice>
</div>
<button class='addIcon'  (click)='openPopup();'><mat-icon>home</mat-icon></button>
</div>

