/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
// @import "styles-variables";
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
@include mat-core();

.mat-card {
    // width: 96%;
    // margin: 2%;
    background: #D7D6D6;
    opacity: .9;
    // border-radius: 10px !important;
}

.mat-form-field {
    width: 95%;
}

.mat-toolbar {
    width: 100vw;
    background-color: blue;
    color: white;
    opacity: .9 !important;
    position: absolute;
    z-index: 4;
    top: 0px;
}

html,
body {
    height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.headerRow {
    height: 14vh;
    background-repeat: no-repeat;
    background-image: url('https://chambermaster.blob.core.windows.net/images/customers/391/members/6298/logos/MEMBER_LOGO/ATLPinATLWraps.jpg');
}

.toolbarLogo {
    height: 64px;
    width: 17vw;
    position: absolute;
    left: 0;
}

body, html {
    display: flex;
    flex-direction: column;
    height: 100vh;  
    margin: none;
    background-color: black;
    background-image: url('./assets/logo.jpeg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
}

.searchButton {
    position: fixed !important;
    top: 17px;
    right: 4vw;
    color:white;
    z-index: 30;
}

.add {
    position: fixed !important;
    top: 17px;
    right: 5vw;
    color:white;
    z-index: 30;
}

.calendar .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: white !important;
}

.calendar .mat-form-field-underline, .calendar .mat-datepicker-toggle, .calendar .mat-datepicker-toggle, .calendar .mat-form-field-appearance-legacy .mat-form-field-label  {
    color: white !important;
}

.calendar .mat-form-field {
    font-size: 12px;
    width: 100%;
    position: relative;
    top: 7px;
    left: 2vw;
    z-index: 10;
}

@media (max-width: 1024px) {
    .toolbarLogo {
       display: none;
    }
} 

@media (max-width: 768px) { 

    .add {
        position: fixed !important;
        top: 12px;
        right: 0px;
        color:white;
        font-size: 10px;
    }

    .searchButton {
        position: fixed !important;
        top: 12px;
        right: 0px;
        color:white;
        font-size: 10px;
    }

    body, html {
        overflow: auto !important;
    }

    .calendar .mat-form-field {
        font-size: 12px;
        width: 60%;
        position: relative;
        top: 7px;
        left: 2vw;
        z-index: 10;
    }
}
