/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
// @import "styles-variables";
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
@include mat-core();

.mat-card {
    width: 100%;
    margin: 2%;
    background: #D7D6D6;
    opacity: .9;
    border-radius: 10px !important;
}

.mat-form-field {
    width: 95%;
}

html,
body {
    height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.headerRow {
    height: 14vh;
    background-repeat: no-repeat;
    background-image: url('https://chambermaster.blob.core.windows.net/images/customers/391/members/6298/logos/MEMBER_LOGO/ATLPinATLWraps.jpg');
}

body, html {
    display: flex;
    flex-direction: column;
    height: 100vh;  
    margin: auto;
    background-color: black;
    background-image: url('./assets/logo.jpeg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden !important;
}

.searchButton {
    position: sticky !important;
    top: 50px;
    right: 0px;
    color:white;
}

.add {
    position: sticky !important;
    top: 50px;
    right: 0px;
    color:white;
}

.appointment-content .mat-card {
    opacity: 1 !important;
}

@media (max-width: 768px) { 

    .add {
        position: fixed !important;
        top: 50px;
        right: 0px;
        color:white;
    }

    .searchButton {
        position: fixed !important;
        top: 50px;
        right: 0px;
        color:white;
    }

    body, html {
        overflow: auto !important;
    }

}
