 .invoiceForm, .invoiceSearch {
    display: none;
}

.invoiceForm.show {
    display: block;
    width: 102vw;
}

 .invoiceSearch.show {
    display: block;
    width: 100vw;
}

.invoiceArea {
    width: 100vw;
}


