.mat-slide-toggle {
    margin-left: 20%;
}

.submit {
    margin-top: 5%;
}

.toggle {
    display: inline-block;
}

.addVehicle {
    float: right;
}

.form .mat-icon {
    margin-left: 2%;
    height: 20px;
    width: 20px;
    cursor: pointer;
    padding-top: 67%;
}

.vehicles {
    margin: 2%;
    border-bottom: 1px solid grey;
}

/* .form, .results {
    display: none;
}

.form.show, .results.show {
    display: block;
}
*/

