<div class="row">
  <div class='col-md-5'>
    <div class='row'>
      <mat-card>
        <div class="card-heading" *ngIf='editing === false'>Add Invoice</div>
        <div class="card-heading" *ngIf='editing === true'>Edit Invoice</div>
        <mat-checkbox *ngIf="editing === false" color="primary" [(ngModel)]="selectFromClients">Select from clients</mat-checkbox>
        <br>
        <mat-form-field *ngIf='selectFromClients === true'>
            <mat-select placeholder="Client" [(ngModel)]="Invoice.Client">
              <mat-option *ngFor="let client of clients" [value]="client.id">{{ client.Name }}</mat-option>
            </mat-select>
          </mat-form-field>
        <mat-form-field *ngIf='selectFromClients === false'>
          <input matInput placeholder="Client" [(ngModel)]="Invoice.Client" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Service type" [(ngModel)]="Invoice.ServiceType" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Total" [(ngModel)]="Invoice.Total" />
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Payment method" [(ngModel)]="Invoice.PaymentMethod">
              <mat-option *ngFor="let method of paymentMethods" [value]="method">{{ method }}</mat-option>
            </mat-select>
          </mat-form-field>
        <mat-form-field *ngIf="Invoice.PaymentMethod === 'PO'">
          <input matInput placeholder="PO#" [(ngModel)]="Invoice.PO" />
        </mat-form-field>
        <mat-form-field *ngIf="Invoice.PaymentMethod === 'Check'">
            <input matInput placeholder="Check#" [(ngModel)]="Invoice.CheckNumber" />
          </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="RO#" [(ngModel)]="Invoice.RO" />
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Franchise" [(ngModel)]="Invoice.FranchiseId">
            <mat-option *ngFor="let franchise of franchises" [value]="franchise.id">{{ franchise.Name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Comments" [(ngModel)]="Invoice.Comments" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Description" [(ngModel)]="Invoice.Description" />
        </mat-form-field>
        <br>
        <label style="margin-left: 5%;">Paid</label>
        <mat-slide-toggle color="primary" [(ngModel)]="Invoice.Paid"></mat-slide-toggle>
        <br>
        <button class='submit' (click)="submitInvoice();" mat-button>Save Appointment</button>
        <button (click)="clearForm();" mat-button>Clear form</button>
      </mat-card>
    </div>
  </div>
  <div class='col-md-4'>
    <div class='row' style="padding-left: 5%;">
      <mat-card>
            <div class="card-heading">Invoices</div>
            <div *ngFor="let invoice of invoices">
              <p>
                #: {{invoice.id}}<br>
                Date: {{ invoice.createdAt }} <br>
                Client: {{ invoice.Client }} <br>
                Employee: {{ invoice.Employee }}<br>

              </p>
              <button (click)="deleteInvoice(invoice.id);" mat-button>Delete</button>
              <button (click)="editInvoice(invoice.id);" mat-button>Edit</button>
            </div>
          </mat-card>
    </div>
  </div>
</div>