.mat-card {
    width: 96%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    border-radius: 15px;
}

.searchCard {
    position: sticky;
    z-index: 5;
    right: 30px;
}

.searchRow {
    width: 80vw;
}

.ivoiceColumn {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden !important;
    position: absolute;
}

.invoiceCard {
    width: 91%;
    margin-left: 3%;
}

.invoiceCard:last-child {
    margin-bottom: 10%;
}

.sideColumn {
    position: fixed;
    right: 0px;
    top: 64px;
    background: #D7D6D6;
    opacity: .9;
    margin-left: 4%;
    margin-top: 0px;
    height: 100vh;
}

.mat-card:first-child {
    margin-top: 10%;
}

.sideColumnSpacer {
    height: 2vh;
}

@media (min-width: 769px) and (max-width: 992px) {
    .searchRow {
          width: 105vw;
    }

    .invoiceCard {
        width: 95%;
        margin-left: 3%;
    }
}


@media (max-width: 992px) {
    .searchRow {
        width: 92vw;
    }
}

@media (max-width: 768px) {
    .invoiceCard {
        width: 95%;
        margin-left: 3%;
        }
}

@media (max-width: 767px) { 
    .mat-card {
    width: 96%;
    margin-left: 8%;
    }

    .sideColumnSpacer {
        height: 6vh;
    }

    .ivoiceColumn, .searchRow {
        width: 108vw !important;
    }

     .sideColumn {
        margin-left: unset;
        position: fixed;
        top: 7vh;
        transform: translateX(250px);
        transition: transform 0.25s;
        width: 250px;
        opacity: 1;
        z-index: 21;
    }


    .sideColumn.open {
        transform: translateX(0px);
    } 

    .searchRow, .ivoiceColumn {
        width: 96vw;
    }

    .mat-card:first-child {
        margin-top: 10%;
    }

    .invoiceCard {
        width: 98%;
        margin-left: 1%;
    }

}

@media (max-width: 500px) { 
    .invoiceCard {
        width: 97%;
         margin-left: 1%;
    }

    .mat-card:first-child {
        margin-top: 17%;
    }

}
