<div class='row searchRow'>
  <div class='ivoiceColumn col-lg-10 col-md-9 col-sm-9'>

    <mat-card *ngFor="let invoice of invoices" class='invoiceCard'>
      <p>
        Invoice#: {{invoice.id}}<br>
        Date: {{ formatDate(invoice.createdAt) }} <br>
        Client: {{ invoice.Client }} <br>
        Employee: {{ invoice.Employee }}<br>
      </p>
      <button (click)='editThis.emit(invoice);' mat-button>Edit</button>
    </mat-card>

  </div>

  <button class='add' mat-button (click)="newInvoice.emit();" style="z-index:100 !important;">
      <mat-icon style="padding-top: 0px; z-index:100 !important;">add</mat-icon>
      New Invoice
    </button>

  <div class="col-lg-2 col-md-3 col-sm-3 sideColumn">
    <!-- <div class='row'> -->
     
    <!-- </div> -->

    <mat-card class='searchCard'>
      <div class="card-heading">Search invoices</div>
      <mat-form-field style='cursor: pointer;'>
        <input [(ngModel)]="filter.dateFrom" (click)="openCalendar($event)" matInput [matDatepicker]="calendar"
          placeholder="Date from" readonly>
        <mat-datepicker-toggle matSuffix [for]="calendar"></mat-datepicker-toggle>
        <mat-datepicker tabindex="-1" #calendar></mat-datepicker>
      </mat-form-field>
      <mat-form-field style='cursor: pointer;'>
        <input [(ngModel)]="filter.dateTo" (click)="openCalendar2($event)" matInput [matDatepicker]="calendar2"
          placeholder="Date to" readonly>
        <mat-datepicker-toggle matSuffix [for]="calendar2"></mat-datepicker-toggle>
        <mat-datepicker tabindex="-1" #calendar2></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Invoice number" [(ngModel)]="filter.invoiceNumber" />
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Franchise" [(ngModel)]="filter.franchise">
          <mat-option *ngFor="let franchise of franchises" [value]="franchise.id">{{ franchise.Name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Add filter" [(ngModel)]="searchBy">
          <mat-option *ngFor="let option of searchOptions" [value]="option">{{ option }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="searchBy === 'Employee'">
        <input matInput placeholder="Employee" [(ngModel)]="filter.employee" />
      </mat-form-field>
      <mat-form-field *ngIf="searchBy === 'Client'">
        <input matInput placeholder="Client" [(ngModel)]="filter.client" />
      </mat-form-field>
      <button (click)='processSearch();' mat-button>Search</button>
      <button (click)='clearSearch();' mat-button>Clear</button>
    </mat-card>

  </div>
</div>