.mat-card {
    width: 94%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2.5%;
    border-radius: 15px;
}

.searchCard {
    position: sticky;
    z-index: 5;
    right: 30px;
}

.searchRow {
    width: 80vw;
}

.ivoiceColumn {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden !important;
    position: absolute;
}

.invoiceCard {
    width: 96%;
    margin-left: 2%;
}

.invoiceCard:last-child {
    margin-bottom: 10%;
}

.sideColumn {
    position: fixed;
    right: 0px;
    top: 64px;
    background: #D7D6D6;
    opacity: .9;
    margin-left: 4%;
    margin-top: 0px;
    height: 100vh;
}

@media (max-width: 992px) {
    .searchRow {
        width: 92vw;
    }
}

@media (max-width: 768px) { 
    .mat-card {
    width: 100%;
    margin-left: 2%;
    }

    .sideColumn {
        display: none;
        margin-left: unset;
    }

    .searchRow, .ivoiceColumn {
        width: 96vw;
    }

}
