<div class='row searchRow'>
  <div class="overlay" *ngIf="slideDrawer === true" (click)="openDrawer();"></div>

  <div class='ivoiceColumn col-xl-10 col-lg-10 col-md-10 col-sm-12'>
    <mat-card *ngFor="let invoice of invoices" class='invoiceCard'>
      <p>
        Invoice#: {{invoice.id}}<br>
        Date: {{ formatDate(invoice.createdAt) }} <br>
        Client: {{ invoice.Client }} <br>
        Employee: {{ invoice.Employee }}<br>
      </p>
      <button (click)='editThis.emit(invoice);' mat-button>Edit</button>
      <button (click)='openPreview(invoice);' mat-button>Overview</button>
      <button (click)='printInvoice(invoice);' mat-button>Print</button>
      <button (click)='emailInvoice(invoice);' mat-button>Email</button>
      <button (click)='downloadPDF(invoice);' mat-button>Download PDF</button>
    </mat-card>
    <mat-card class='invoiceCard notFound' *ngIf='invoices.length < 1'>
      <div class='notFoundSpacer'></div>
      No invoices found for {{ formatDate(filter.dateTo) }}.
    </mat-card>

  </div>

  <button class='add' mat-button (click)="newInvoice.emit();" style="z-index:100 !important;">
    <mat-icon style="padding-top: 0px; z-index:100 !important;">add</mat-icon>
    New invoice
  </button>
  <div class="col-xl-2 col-lg-2 col-md-2 hidden-sm hidden-xs sideColumn" [ngClass]="{'open': slideDrawer === true}">
    <div class='sideColumnSpacer'></div>
    <div class="card-heading">Search invoices</div>
    <div *ngIf="searchBy !== 'Invoice number' ">
      <mat-form-field style='cursor: pointer;'>
        <input [(ngModel)]="filter.dateFrom" [max]="getMaxDate()" (click)="openCalendar($event)" matInput [matDatepicker]="calendar"
          placeholder="Date from" readonly>
        <mat-datepicker-toggle matSuffix [for]="calendar"></mat-datepicker-toggle>
        <mat-datepicker tabindex="-1" #calendar></mat-datepicker>
      </mat-form-field>
      <mat-form-field style='cursor: pointer;'>
        <input [(ngModel)]="filter.dateTo" [min]="getMinDate()" [max]="getMaxDate()" (click)="openCalendar2($event)" matInput [matDatepicker]="calendar2"
          placeholder="Date to" readonly>
        <mat-datepicker-toggle matSuffix [for]="calendar2"></mat-datepicker-toggle>
        <mat-datepicker tabindex="-1" #calendar2></mat-datepicker>
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-select placeholder="Franchise" [(ngModel)]="filter.franchise">
        <mat-option *ngFor="let franchise of franchises" [value]="franchise.id">{{ franchise.Name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Add filter" [(ngModel)]="searchBy">
        <mat-option *ngFor="let option of searchOptions" [value]="option">{{ option }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="searchBy === 'Invoice number'">
      <input matInput placeholder="Invoice number" [(ngModel)]="filter.invoiceNumber" />
    </mat-form-field>
    <mat-form-field *ngIf="searchBy === 'Employee'">
      <input matInput placeholder="Employee" [(ngModel)]="filter.employee" />
    </mat-form-field>
    <mat-form-field *ngIf="searchBy === 'Payment'">
        <mat-select placeholder="Payment" [(ngModel)]="filter.payment">
          <mat-option *ngFor="let payment of payments" [value]="payment">{{ payment }}</mat-option>
        </mat-select>
      </mat-form-field>
    <mat-form-field *ngIf="searchBy === 'Client'">
      <input matInput placeholder="Client" [(ngModel)]="filter.client" />
    </mat-form-field>
    <button (click)='processSearch(); openDrawer();' mat-button>Search</button>
    <button (click)='clearSearch();' mat-button>Clear</button>
  </div>
</div>