<div class='col-lg-12 col-md-12 col-sm-12 form'>
  <!-- begin invoice form -->
  <mat-card class='invoiceCard'>
    <div class="card-heading" *ngIf='editing === false'>Add Invoice</div>
    <div class="card-heading" *ngIf='editing === true'>Edit Invoice</div>
    <mat-checkbox *ngIf="editing === false" color="primary" [(ngModel)]="selectFromClients">Select from clients</mat-checkbox>
    <br>
    <mat-form-field *ngIf='selectFromClients === true'>
      <mat-select placeholder="Client" [disabled]="editing === true" [(ngModel)]="Invoice.Client">
        <mat-option *ngFor="let client of clients" [value]="client.Name">{{ client.Name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf='selectFromClients === false'>
      <input matInput placeholder="Client" [readonly]="editing === true" [(ngModel)]="Invoice.Client" />
      <mat-error class='error' *ngIf="Invoice.Client === ''">Add client</mat-error>
    </mat-form-field>

    <!-- add services to invoice -->
    <mat-checkbox *ngFor="let service of serviceTypes" (change)="addService(service); service.optionsArray[0].quantity = 1;"
      color="primary" [(ngModel)]="service.checked">{{ service.model }}</mat-checkbox>
    <div style='height: 30px;'></div>
    <!-- manually input price option -->
    <mat-checkbox (change)='clearZeros();' color="primary" *ngIf="serviceSelected === true" [(ngModel)]="manualAmountInput">Manually
      input price and quantity</mat-checkbox>

    <!-- pinstriping repairs -->
    <div *ngIf="serviceTypes[3].checked === true">
      <mat-form-field>
        <mat-select placeholder="Panels striped" [(ngModel)]="panelsStriped">
          <mat-option (click)='updateTotal();' *ngFor="let panel of panelOptions" [value]="panel.id">{{ panel.id }}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <div *ngIf="panelsStriped !== ''">
        <div *ngFor="let panel of panelOptions">
          <div *ngIf="panelsStriped === 8">
            <mat-form-field *ngIf='manualAmountInput === false'>
              <mat-select placeholder="{{panel.model}} price" [(ngModel)]="panel.value">
                <mat-option *ngFor="let price of prices" (click)="updateTotal();" [value]="price">${{ price }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf='manualAmountInput === true'>
              <input matInput placeholder="{{panel.model}} price" [(ngModel)]="panel.value" />
            </mat-form-field>
          </div>
          <div *ngIf="panelsStriped !== 8 ">
            <mat-form-field *ngIf="panel.id <= panelsStriped && manualAmountInput === false">
              <mat-select placeholder="{{panel.model}} price" [(ngModel)]="panel.value">
                <mat-option *ngFor="let price of prices" (click)="updateTotal();" [value]="price">${{ price }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="manualAmountInput === true && panel.id <= panelsStriped">
              <input matInput placeholder="{{panel.model}} price" [(ngModel)]="panel.value" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>

    <!-- all other service types -->
    <div *ngFor='let type of serviceTypes'>
      <div *ngIf="type.id !== 2 && type.id !== 3 && type.id !== 4 && type.checked === true">
        <div class='row'>
          <p>{{ type.model }}</p>
          <br>
        </div>
        <div class='row'>
          <div class='col-lg-6 col-sm-6'>
            <mat-form-field>
              <input matInput [readonly]='type.id !== serviceTypes[7].id' [(ngModel)]="type.model" />
            </mat-form-field>
          </div>
          <div class='col-lg-3 col-sm-3'>
            <mat-form-field *ngIf='manualAmountInput === false'>
              <mat-select placeholder="Price" [(ngModel)]="type.optionsArray[0].value">
                <mat-option (click)="updateTotal();" *ngFor="let price of prices" [value]="price">${{ price }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf='manualAmountInput === true'>
              <input matInput (blur)="updateTotal();" placeholder="Price" [(ngModel)]="type.optionsArray[0].value" />
            </mat-form-field>
          </div>
          <div class='col-lg-3 col-sm-3'>
            <mat-form-field *ngIf='manualAmountInput === false'>
              <mat-select placeholder="Quantity" [(ngModel)]="type.optionsArray[0].quantity">
                <mat-option (click)="updateTotal();" *ngFor="let num of numbers" [value]="num">{{ num }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf='manualAmountInput === true'>
              <input matInput placeholder="Quantity" [(ngModel)]="type.optionsArray[0].quantity" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>


    <!-- custom striping -->
    <mat-checkbox *ngIf="serviceTypes[3].checked === true || serviceTypes[1].checked === true" color="primary"
      [(ngModel)]="customPinstriping">Add custom pinstriping?</mat-checkbox>
    <div class='row' *ngIf='customPinstriping === true'>
      <div class='col-lg-6 col-sm-6'>
        <mat-form-field placeholder="Description">
          <input matInput [(ngModel)]="customPinstripes.description" />
        </mat-form-field>
      </div>
      <div class='col-lg-3 col-sm-3'>
        <mat-form-field *ngIf='manualAmountInput === false'>
          <mat-select placeholder="Price" [(ngModel)]="customPinstripes.value">
            <mat-option (click)="updateTotal();" *ngFor="let price of prices" [value]="price">${{ price }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf='manualAmountInput === true'>
          <input matInput placeholder="Price" (blur)="updateTotal();" [(ngModel)]="customPinstripes.value" />
        </mat-form-field>
      </div>
      <div class='col-lg-3 col-sm-3'>
        <mat-form-field *ngIf='manualAmountInput === false'>
          <mat-select placeholder="Quantity" [(ngModel)]="customPinstripes.quantity">
            <mat-option (click)="updateTotal();" *ngFor="let num of numbers" [value]="num">{{ num }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf='manualAmountInput === true'>
          <input matInput placeholder="Quantity" [(ngModel)]="customPinstripes.quantity" />
        </mat-form-field>
      </div>
    </div>

    <!-- paint film -->
    <div *ngIf="serviceTypes[2].checked === true">
      <div class='row'>
        <p>{{ serviceTypes[2].model }}</p>
        <br>
      </div>
      <span class='optionBoxes' *ngFor="let option of ppfOptions">
        <mat-checkbox  (change)="option.value = 0; option.quantity = 1;" color='primary'
          [(ngModel)]="option.selected">{{ option.model }}</mat-checkbox>
      </span>
      <div *ngFor="let option of ppfOptions">

        <div class='row' *ngIf='option.selected === true'>
          <div class='col-lg-6 col-sm-6'>
            <mat-form-field>
              <input matInput [readonly]="option.id !== 11" [(ngModel)]="option.model" />
            </mat-form-field>
          </div>
          <div class='col-lg-3 col-sm-3'>
            <mat-form-field *ngIf='manualAmountInput === false'>
              <mat-select placeholder="Price" [(ngModel)]="option.value">
                <mat-option (click)="updateTotal();" *ngFor="let price of prices" [value]="price">${{ price }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf='manualAmountInput === true'>
              <input matInput placeholder="Price" (blur)="updateTotal();" [(ngModel)]="option.value" />
            </mat-form-field>
          </div>
          <div class='col-lg-3 col-sm-3'>
            <mat-form-field *ngIf='manualAmountInput === false'>
              <mat-select placeholder="Quantity" [(ngModel)]="option.quantity">
                <mat-option (click)="updateTotal();" *ngFor="let num of numbers" [value]="num">{{ num }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf='manualAmountInput === true'>
              <input matInput placeholder="Quantity" [(ngModel)]="option.quantity" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>

    <!-- window tint -->
    <div *ngIf="serviceTypes[4].checked === true">
      <div class='row'>
        <p>{{ serviceTypes[4].model }}</p>
        <br>
      </div>
      <span class='optionBoxes' *ngFor="let option of windowOptions">
        <mat-checkbox  color='primary' (change)="option.value = 0; option.quantity = 1;"
          [(ngModel)]="option.selected">{{
          option.model }}</mat-checkbox>
      </span>
      <div *ngFor="let option of windowOptions">

        <div class='row' *ngIf='option.selected === true'>
          <div class='col-lg-6 col-sm-6'>
            <mat-form-field>
              <input matInput [readonly]='option.id !== 6'  [(ngModel)]="option.model" />
            </mat-form-field>
          </div>
          <div class='col-lg-3 col-sm-3'>
            <mat-form-field *ngIf='manualAmountInput === false'>
              <mat-select placeholder="Price" [(ngModel)]="option.value">
                <mat-option (click)="updateTotal();" *ngFor="let price of prices" [value]="price">${{ price }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf='manualAmountInput === true'>
              <input matInput (blur)="updateTotal();" placeholder="Price" [(ngModel)]="option.value" />
            </mat-form-field>
          </div>
          <div class='col-lg-3 col-sm-3'>
            <mat-form-field *ngIf='manualAmountInput === false'>
              <mat-select placeholder="Quantity" [(ngModel)]="option.quantity">
                <mat-option (click)="updateTotal();" *ngFor="let num of numbers" [value]="num">{{ num }}</mat-option>
              </mat-select>
              <mat-form-field *ngIf='manualAmountInput === true'>
                <input matInput placeholder="Quantity" [(ngModel)]="option.quantity" />
              </mat-form-field>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <br>

    <!-- buttons for input vehicle id options -->
    <div *ngIf="serviceSelected === true">
      <button class='submit' (click)="addRO = true; addStock = false; addVIN = false;" mat-button>Add RO#</button>
      <button class='submit' (click)="addStock = true; addVIN = false;" mat-button>Add Stock#</button>
      <button class='submit'  *ngIf='cordova == false;'  (click)="addStock = false; addVIN = true;"  mat-button>Add
        VIN#</button>
        <button class='submit'  *ngIf='cordova == true;' (click)="addStock = false; addVIN = true;"  mat-button>Manually add
            VIN#</button>
        <button class='submit' *ngIf='cordova == true;' (click)="scanVIN();" mat-button>Scan
            VIN#</button>
    </div>
    <br>

    <!-- stock numbers populate here -->
    <div class='row' style='padding-top: 1%' *ngIf='stocks.length > 0 || vins.length > 0'>
      <mat-chip-list>
        <mat-chip *ngFor="let stock of stocks">
          <span style='font-size: 12px'>Stock#</span> {{ stock }}
          <mat-icon (click)="removeVehicle(stock);">close</mat-icon>
        </mat-chip>
      </mat-chip-list>
      <mat-chip-list>
        <mat-chip *ngFor="let vin of vins">
          <span style='font-size: 12px'>VIN# </span> {{ vin }}
          <mat-icon (click)="removeVehicle(vin);">close</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>

    <!-- manual input stocks vins and ro -->
    <mat-form-field *ngIf='addStock === true'>
      <input matInput placeholder="Stock#" [(ngModel)]="stockNumber" />
    </mat-form-field>
    <mat-form-field *ngIf='addVIN === true'>
      <input matInput placeholder="VIN#" [(ngModel)]="stockNumber" />
      <mat-hint align="start">Last 8 characters</mat-hint>
    </mat-form-field>
    <button *ngIf="addStock === true || addVIN === true" class='addVehicle' (click)="pushVehicle();" mat-button>Add</button>
    <mat-form-field *ngIf='addRO === true'>
      <input matInput placeholder="RO#" [(ngModel)]="Invoice.RO" />
    </mat-form-field>

    <!-- add description if they want -->
    <mat-checkbox color="primary" [(ngModel)]="addDescription">Add description?</mat-checkbox>
    <mat-form-field *ngIf='addDescription === true'>
      <input matInput placeholder="Vehicle make & model, services rendered, product details..." [(ngModel)]="Invoice.Description" />
    </mat-form-field>
    <br>

    <!-- total cost and payment info -->
    <mat-checkbox (change)='updateTotal();' color="primary" *ngIf="serviceSelected === true" [(ngModel)]="Invoice.CalcTax">Calculate
      tax?</mat-checkbox>
    <mat-form-field *ngIf="serviceSelected === true">
      <input matInput placeholder="Total" [readonly]='editing === false' [(ngModel)]="Invoice.Total" />
    </mat-form-field>
    <mat-form-field *ngIf="serviceSelected === true">
      <mat-select placeholder="Payment method" [(ngModel)]="Invoice.PaymentMethod">
        <mat-option *ngFor="let method of paymentMethods" [value]="method">{{ method }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="Invoice.PaymentMethod === 'PO'">
      <input matInput placeholder="PO#" [(ngModel)]="Invoice.PO" />
    </mat-form-field>
    <mat-form-field *ngIf="Invoice.PaymentMethod === 'Check'">
      <input matInput placeholder="Check#" [(ngModel)]="Invoice.CheckNumber" />
    </mat-form-field>

    <!-- comments and description if applicable -->
    <mat-form-field>
      <input matInput placeholder="Comments" [(ngModel)]="Invoice.Comments" />
    </mat-form-field>
    <br>
    <div>
      <label style="margin-left: 5%;">Paid</label>
      <mat-slide-toggle color="primary" [(ngModel)]="Invoice.Paid"></mat-slide-toggle>
    </div>
    <br>
    <!-- buttons -->
    <button class='submit' (click)="submitInvoice();" mat-button>Save Invoice</button>
    <button (click)="clearForm();" mat-button>Clear form</button>
    <button *ngIf='editing === true' (click)="deleteInvoice(Invoice.id);" mat-button>Delete</button>
  </mat-card>
  <!-- end invoice form -->

  <button class='searchButton' (click)='switchToSearch.emit();' mat-button>
    <mat-icon style="padding-top: 0px;">filter</mat-icon><span style='display:inline-block; width:6px;'></span>View invoices
  </button>
</div>