.mat-slide-toggle {
    margin-left: 20%;
}

.submit {
    margin-top: 5%;
}

.toggle {
    display: inline-block;
}

.addVehicle {
    float: right;
}

.form .mat-icon {
    margin-left: 2%;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.vehicles {
    margin: 2%;
}

.optionBoxes {
    margin: 2%;
    padding: 2%;
}

.mat-chip {
    background: #00FFFF;
}

.invoiceCard {
    margin-top: 2%;
    margin-left: 3.5%;
    width: 96%;
}

.mainRow {
    overflow-x: hidden !important;
}

@media (max-width: 768px) { 
    .mat-card, .invoiceCard {
    width: 92%;
    margin-left: 8%;
    margin-right: 0px !important;
    }
}