.mat-slide-toggle {
    margin-left: 20%;
}

.submit {
    margin-top: 5%;
}

.toggle {
    display: inline-block;
}

.addVehicle {
    float: right;
}

.form .mat-icon {
    margin-left: 2%;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.vehicles {
    margin: 2%;
}

.optionBoxes  {
    margin: 3%;
    padding: 3%;
}

.mat-chip {
    background: blue;
    color: white;
}

.invoiceCard {
    margin-top: 2%;
    margin-left: 4%;
    width: 96%;
    margin-bottom: 8%;
    border-radius: 15px;
}

.mat-card:first-child {
    margin-top: 10%;
}

.form {
    width: 80vw;
    overflow-x: hidden !important;
}

@media (max-width: 768px) { 
    .mat-card, .invoiceCard {
    width: 100%;
    margin-left: 4%;
    }

    .form {
        width: 100vw;
        overflow-x: hidden !important;
    }

    .mat-card:first-child {
        margin-top: 17%;
    }
}