<div class='row container' style='width: 110%;'>
  <div class='row topRow container'>
    <span class='drawerHeader'>{{ otherUser }}</span>
  </div>
  <!-- <div class='row container cardRow'>
    This is the messaging chat
  </div> -->
  <div class='row container cardRow'>
    <div class='row container' style='width: 100%;' *ngFor='let message of messages'>
      <mat-card *ngIf="message.RecipientId === currentUserId" class='otherUserMessage'>{{ message.Content }}</mat-card>
      <mat-card *ngIf="message.RecipientId !== currentUserId" class='currentUserMessage'>{{ message.Content }}</mat-card>
    </div>
    <div id='scrollHere'></div>
  </div>
  <div class='row messageInput'>
    <mat-form-field class="example-full-width">
      <textarea [(ngModel)]="newMessage" matInput></textarea>
    </mat-form-field>
    <button (click)='submitMessage();' mat-button>Send</button>
  </div>
</div>