.drawerHeader {
    position: absolute;
    top: 20px;
    font-size: 18px;
    color: white;
}

.topRow {
    height: 64px;
    background: blue;
    width: 105%;
    position: fixed;
    top: 0px;
    right: 0px;
}

.cardRow {
    width: 111%;
    margin-top: 23%;
    overflow-y: auto;
    height: 75vh;
}

.userRow {
    margin-top: 2%;
    border-bottom: black solid 1px;
}

.messageInput {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    /* margin-left: 1%; */
    background:white
}

.drawerRow {
    width: 100%;
}

.mat-card {
    border-radius: 6px !important;
    height: auto;
}

.currentUserMessage {
    float: right;
    color: white;
    background: blue;
    position: relative;
    left: 20%;
    width: 90%;
    text-align: right;
    margin-bottom: 5%;
}

.otherUserMessage {
    position: relative;
    left: 5px;
    color: black;
    width: 90%;
    margin-bottom: 5%;
}

@media (max-width: 599px) {

    .topRow {
        height: 56px;
        background: blue;
        width: 105%;
        position: fixed;
        top: 0px;
        right: 0px;
    }

    .newMessage {
        top: 10px;
    }

    .drawerHeader {
        top: 14px
    }
    
}
