<div class="row">
  <div class='col-md-5'>
    <div class='row'>
      <mat-card>
        <div class="card-heading" *ngIf='editing === false'>Add Appointment</div>
        <div class="card-heading" *ngIf='editing === true'>Edit Appointment</div>
        <!-- <label></label> -->
        <mat-checkbox *ngIf="editing === false" color='primary' (change)="Appointment.Client = ''; Appointment.Location = ''" [(ngModel)]="selectFromClients">Select
          from clients</mat-checkbox>
        <br>
        <mat-form-field *ngIf='selectFromClients === true'>
          <mat-select placeholder="Client" [(ngModel)]="Appointment.Client">
            <mat-option *ngFor="let client of clients" (click)="updateLocation(client);" [value]="client.Name">{{
              client.Name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf='selectFromClients === false'>
          <input matInput placeholder="Client" [(ngModel)]="Appointment.Client" />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Location" [(ngModel)]="Appointment.Location" />
          </mat-form-field>
          <br>
          <mat-checkbox color='primary' (change)="setTime();" [(ngModel)]="anytime">Anytime</mat-checkbox>
            <br>
        <mat-form-field >
            <input  [(ngModel)]="Appointment.Date" (click)="openCalendar($event)" 
             matInput [matDatepicker]="calendar"  placeholder="Date" [min]="getMinDate()" readonly>
            <mat-datepicker-toggle matSuffix [for]="calendar"></mat-datepicker-toggle>
            <mat-datepicker tabindex="-1" #calendar></mat-datepicker>
          </mat-form-field>
        <mat-form-field *ngIf='anytime === false'>
        <input matInput placeholder="Time" readonly [(ngModel)]="Appointment.Time" [ngxTimepicker]="defaultTime" >
        <ngx-material-timepicker #defaultTime [defaultTime]="'12:00 pm'"></ngx-material-timepicker>
        </mat-form-field>
        <mat-form-field *ngIf='anytime === true'>
          <input matInput [(ngModel)]="Appointment.Time" placeholder="Time" readonly [(ngModel)]="Appointment.ContactPerson" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Contact Person" [(ngModel)]="Appointment.ContactPerson" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Contact Person phone" maxlength="14" type="number" (input)="formatPhone();" [(ngModel)]="Appointment.ContactPersonPhone" />
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Assigned employee" [(ngModel)]="Appointment.AssignedEmployee">
            <mat-option *ngFor="let user of users" (click)='Appointment.AssignedEmployeeId = user.id' [value]="user.Name">{{
              user.Name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Franchise" [(ngModel)]="Appointment.FranchiseId">
            <mat-option *ngFor="let franchise of franchises" [value]="franchise.id">{{ franchise.Name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Comments" [(ngModel)]="Appointment.Comments" />
        </mat-form-field>
        <br>
        <button class='submit' (click)="submitAppointment();" mat-button>Save Appointment</button><br>
        <button (click)="clearForm();" mat-button>Clear form</button><br>
        <button *ngIf='editing === true' (click)="deleteAppointment(Appointment.id);" mat-button>Delete</button>
      </mat-card>
    </div>
  </div>
  <div class='col-md-4'>
    <div class='row' style="padding-left: 5%;">
      <mat-card>
          <div class="card-heading">Appointments</div>
          <!-- <mat-form-field >
              <input  (click)="openCalendar2($event)" (change)='renderAppointments()'
               matInput [matDatepicker]="calendar2"  placeholder="Search by date" [min]="getMinDate()" readonly>
              <mat-datepicker-toggle matSuffix [for]="calendar2"></mat-datepicker-toggle>
              <mat-datepicker tabindex="-1" #calendar2></mat-datepicker>
            </mat-form-field> -->
          <div *ngFor="let appointment of appointments">
            <p>
              Client: {{ appointment.Client }}<br>
              Date: {{ formatDate(appointment.Date) }}<br>
              Time: {{ appointment.Time }}<br>
              Assigned employee: {{ appointment.AssignedEmployee }}<br>
            </p>
            <button class='editButton' (click)="editAppointment(appointment.id);" mat-button>Edit</button>
          </div>
        </mat-card>
    </div>
  </div>
</div>