.content .mat-card {
    /* width: 100px; */
    display: inline-block;
    /* margin-left: 2%; */
    margin: 2%;
}

.content {
    display: inline-block;
}

.mat-slide-toggle {
    margin-left: 20%;
}

.mat-form-field {
    margin: 2%;
}

.submit {
    margin-top: 5%;
    /* margin-left: 55%; */
}

.toggle {
    display: inline-block;
}

/* .form, .results {
    display: none !important;
}

.form.show, .results.show {
    display: block !important;
} */

.searchButton {
    position: sticky;
    top: 50px;
    right: 0px;
    color:white;
}

.add {
    position: sticky;
    top: 100px;
    right: 0px;
    color:white;
}
