

.mat-slide-toggle {
    margin-left: 20%;
}

.submit {
    margin-top: 5%;
    /* margin-left: 55%; */
}

.toggle {
    display: inline-block;
}
.userForm, .userRow {
    display: none;
}

.userForm.show, .userRow.show {
    display: flex;
}

