
.mat-card {
    background: #D7D6D6;
    opacity: .9;
    border-radius: 10px !important;
    width: 96%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.mat-card:last-child {
    margin-bottom: 10%;
}

.mat-slide-toggle {
    margin-left: 20%;
}

.submit {
    margin-top: 5%;
}

.toggle {
    display: inline-block;
}
.userForm, .userRow {
    display: none;
}

.userForm.show, .userRow.show {
    display: block;
    width: 80vw;
}

@media (max-width: 768px) { 
    .mat-card {
    width: 100%;
    margin-left: unset;
    margin-bottom: 2%;
    }

    .userForm.show, .userRow.show {
        display: block;
        width: 92vw;
    }
    
}