.mat-slide-toggle {
    margin-left: 20%;
}

.mat-form-field {
    margin: 2%;
}

.submit {
    margin-top: 5%;
}

.toggle {
    display: inline-block;
}

.mat-card {
    background: #D7D6D6;
    opacity: .9;
    border-radius: 10px !important;
    width: 100%;
    margin-left: 3.5%;
    /* margin-top: 1%; */
    margin-bottom: 2%;
}

.mat-card:first-child {
    margin-top: 8%;
}

.mat-card:last-child {
    margin-bottom: 10%;
}

.form, .search {
    width: 80vw;
    overflow-x: hidden;
}

@media (max-width: 767px) { 
    .mat-card {
    width: 100%;
    margin-left: 4%;
    }

    .form, .search {
        width: 96vw;
        overflow-x: hidden;
    }

    .mat-card:first-child {
        margin-top: 17%;
    }
}
