.mat-slide-toggle {
    margin-left: 20%;
}

.mat-form-field {
    margin: 2%;
}

.submit {
    margin-top: 5%;
}

.toggle {
    display: inline-block;
}

.mat-card {
    background: #D7D6D6;
    opacity: .9;
    border-radius: 10px !important;
    width: 96%;
    margin-left: 3.5%;
    margin-top: 2%;
    margin-bottom: 10%;
}

.form, .search {
    width: 100%;
}

@media (max-width: 768px) { 
    .mat-card {
    width: 92%;
    margin-left: 8%;
    }
}
