.mat-slide-toggle {
    margin-left: 20%;
}

.mat-form-field {
    margin: 2%;
}

.submit {
    margin-top: 5%;
}

.toggle {
    display: inline-block;
}

.mat-card {
    background: #D7D6D6;
    opacity: .9;
    border-radius: 10px !important;
    width: 90%;
    margin-left: 2%;
    margin-bottom: 1%;
}

.mat-card:first-child {
    margin-top: 10%;
}

.mat-card:last-child {
    margin-bottom: 10%;
}

.form, .search {
    width: 87vw;
    overflow-x: hidden;
}

@media (max-width: 1200px) { 
    .mat-card {
        background: #D7D6D6;
        opacity: .9;
        border-radius: 10px !important;
        width: 92%;
        margin-left: 2%;
        margin-bottom: 1%;
    }
    }

@media (max-width: 767px) { 
    .mat-card {
    width: 96%;
    margin-left: 2%;
    }

    .form, .search {
        width: 100vw;
        overflow-x: hidden;
    }

    .mat-card:first-child {
        margin-top: 10%;
    }
}

@media (max-width: 500px) { 
    .mat-card:first-child {
        margin-top: 17%;
    }
    }
