<div class="row">
    <div class='col-md-3'>
      <div class='row'>
    <mat-card>
      <div class="card-heading">Create Franchise</div>
      <mat-form-field>
        <input matInput placeholder="Name" [(ngModel)]="Franchise.Name" />
      </mat-form-field>
      <br/>
        <label style="margin-left: 5%;">Active</label>
        <mat-slide-toggle color="primary" [(ngModel)]="Franchise.Active"></mat-slide-toggle>
     <br/>
        <button class='submit' (click)="submitFranchise();" mat-button>Save Franchise</button>
    </mat-card>
  </div>
  </div>
  <div class='col-md-9'>
    <div class='row' style="padding-left: 5%;">
      <mat-card>
        <div class="card-heading">All Franchises</div>
        <div *ngFor="let franchise of franchises">
          <p>Name: {{franchise.Name}}<br>Active: {{franchise.Active}}</p>
          <button (click)="editFranchise(franchise.id);" mat-button>Edit</button>
          <button (click)="deleteFranchise(franchise.id);" mat-button>Delete</button>
        </div>
      </mat-card>
    </div>
    </div>
  </div>