.mat-card {
    background: #D7D6D6;
    opacity: .9;
    border-radius: 10px !important;
    width: 96%;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.mat-card:last-child {
    margin-bottom: 10%;
}

.mat-card:first-child {
    margin-top: 8%;
}

.mat-slide-toggle {
    margin-left: 20%;
}

.mat-form-field {
    margin: 2%;
}

.submit {
    margin-top: 5%;
    /* margin-left: 55%; */
}

.toggle {
    display: inline-block;
}

.form, .results {
    display: none;
}

.form.show, .results.show {
    display: block;
    width: 80vw;
}

.franchiseRow {
    margin-bottom: 2%;
    margin-top: 2%;
}

@media (max-width: 767px) { 
    .mat-card {
    width: 100%;
    margin-left: 4%;
    }

    .form.show, .results.show {
        display: block;
        width: 92vw;
    }

    .mat-card:first-child {
        margin-top: 18%;
    }
}
